:root {
	--header-color: #6a7c89;
	--border-color:#333739 ;
	--main-bg-color: #bcb49c;
	--secondary-bg-color: #BFC9CA;
}
body {
	background-color: var(--main-bg-color);
	color: var(--border-color);
}

header {
	background-color: var(--header-color);
	font-size: 35px;
	min-height: 80px;
	font-weight: bold;
	flex-wrap: wrap;
}

#search {	
	border: solid 2px var(--border-color);
	border-radius: 5px;
	min-height: 75px;
	min-width: 200px;
	font-weight: 600;
}

#submitBtn, #clear {
	margin-top: 10px;
	width: 80px;
	height: 30px;
	border-radius: 5%;
	background-color: var(--header-color);
}

#clear {
	margin-left: 30px;
}

.icon {
	height: 50px;
	width: 50px;
}

.cityName {
	font-weight: bold;
	font-size: 1.5rem;
}

span {
	margin-left: 10px;
	margin-right: 10px;
}

#current {
	text-align: center;
	position: relative;
}

.days {
    display: inline-block;
    border: solid 2px var(--border-color);
	border-radius: 5px;
    min-width: 175px;
	max-width: 200px;
    min-height: 300px;
    margin: 10px;
    padding: 4px;
	background-color: var(--secondary-bg-color);
	
}
#forecast {
	text-align: center;
}


#buttons {
	text-align: center;
	
}

.cityButton {
	margin: 10px;
	display: inline-flex;
	border-radius: 5px;
	background-color: var(--secondary-bg-color);
	color: var(--border-color);
}

	
