:root {
	--header-color: #6a7c89;
	--border-color: #333739;
	--main-bg-color: #bcb49c;
	--secondary-bg-color: #bfc9ca;
}
body {
	background-color: var(--main-bg-color);
	color: var(--border-color);
	background-image: url(/assets/images/City-Background-of-Daylight-Graphics-3833953-1.jpg);
	background-position: center, fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: cover;
	margin: 0;
}

html,
body {
	height: 100%;
}

header {
	font-size: 35px;
	min-height: 80px;
	font-weight: bold;
	flex-wrap: wrap;
}

#search {
	min-height: 75px;
	min-width: 200px;
	font-weight: 600;
	font-size: 1.5rem;
}

#input {
	background-color: var(--secondary-bg-color);
	min-width: 50%;
	border-radius: 5px;
}

#submitBtn,
#clear {
	margin-top: 10px;
	margin-bottom: 15px;
	width: fit-content;
	height: 40px;
	border-radius: 7%;
	background-color: var(--secondary-bg-color);
	text-align: center;
}

#clear {
	margin-left: 10px;
}

.icon {
	height: 50px;
	width: 50px;
}

.cityName {
	font-weight: bold;
	font-size: 2rem;
	color: white;
}

span {
	margin-left: 10px;
	margin-right: 10px;
}

#current {
	color: white;
	font-size: 1.5rem;
	text-align: center;
	position: relative;
}

.days {
	display: inline-block;
	border: solid 2px var(--border-color);
	border-radius: 5px;
	min-width: 175px;
	max-width: 200px;
	min-height: 300px;
	margin: 10px;
	padding: 4px;
	background-color: var(--secondary-bg-color);
}
#forecast {
	text-align: center;
}

#buttons {
	text-align: center;
}

.cityButton {
	margin: 10px;
	display: inline-flex;
	border-radius: 5px;
	background-color: var(--secondary-bg-color);
	color: var(--border-color);
}

@media only screen and (max-width: 650px) {
	#current,
	#search {
		font-size: 1rem;
	}
}
